In [1]:
def f(x):
    return 5
print(f(f(f(5))))

5

In [2]:
print(print(print()))

None
None

In [3]:
def f():
    print('this is a function')
f()

this is a function

In [4]:
type(f)

function

In [5]:
type(f())

this is a function

NoneType

In [6]:
g = f

In [7]:
g()

this is a function

In [8]:
type(g)

function

In [10]:
g = f()

this is a function

In [11]:
print(g)

None

In [13]:
def funny():
    print('funny fn')
    def funfun():
        print('fun'*5)
    return funfun()

funny_var = funny()
print(funny_var)

funny fn
funfunfunfunfun
None

In [17]:
def another_funny():
    print('another funny fn')
    
    def funfunfun():
        print('fun'*5)
    
    return funfunfun

funny = another_funny()
#print(funny)
funny()
type(funny)

another funny fn
funfunfunfunfun

function

In [18]:
def another_funny():
    print('another funny function fn')
    def funfunfun():
        print('gun'*5)
    a = 5
    return a
funny = another_funny()
print(funny)

another funny function fn
5

In [19]:
def funn2():
    def fun():
        return 5**3
    return 5*fun() + 6

funn2()

631

In [20]:
def myfunction():
    def funone():
        return 10
    return 7
myten = myfunction()
myten()

TypeError: 'int' object is not callable

In [21]:
def flipkart():
    print('flip'*2)
    
    product = 'colors'
    def cart():
        print('your cart has one product', product)
    return cart

mycart = flipkart()
mycart()

flipflip
your cart has one product colors

In [22]:
def generic_multiplier(x):
    def factor(b):
        return x*b
    return factor
three_times = generic_multiplier(3)
print(three_times(0))
print(three_times(2))
print(three_times(3))

0
6
9

In [23]:
four_times = generic_multiplier(4)
print(four_times(0))
print(four_times(3))
print(four_times(4))

0
12
16

In [24]:
def adder(a):
    def factor(b):
        return a+b
    return factor

add_one = adder(1)
add_five = adder(5)

In [25]:
add_one(40)

41

In [26]:
add_five(5)

10

In [27]:
def ugly():
    print('&'*10, end= '')

In [28]:
ugly()

&&&&&&&&&&

In [29]:
def prettify(func):
    
    def make_pretty():
        print('*'*12)
        print('*', end = '')
        func()
        print('*')
        print('*'*12)
    return make_pretty

In [30]:
pretty = prettify(ugly)
pretty()

************
*&&&&&&&&&&*
************

In [31]:
@prettify
def ugly2():
    print('@'*10, end= '')

In [32]:
ugly2()

************
*@@@@@@@@@@*
************

# Lists

In [33]:
mylist = []

In [34]:
print(mylist)

[]

In [35]:
type(mylist)

list

In [36]:
mylist = [3,4,5,6,7,8]

In [37]:
print(mylist)

[3, 4, 5, 6, 7, 8]

In [38]:
mylist = [3,4,5,'hello', 4.5]

In [39]:
print(mylist)

[3, 4, 5, 'hello', 4.5]

In [40]:
mylist = [[1,2,3,4] , [3,4,5]]

In [41]:
print(mylist)

[[1, 2, 3, 4], [3, 4, 5]]

In [43]:
mylist = ['hello' , 'python', 'wow', 'list']

In [44]:
mylist[0]

'hello'

In [45]:
mylist[100]

IndexError: list index out of range

In [46]:
len(mylist)

4

In [47]:
mylist + [1, 4, 5]

['hello', 'python', 'wow', 'list', 1, 4, 5]

In [48]:
mylist - [2,3,4,5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [49]:
mylist*2

['hello', 'python', 'wow', 'list', 'hello', 'python', 'wow', 'list']

In [50]:
'hello'*2

'hellohello'

In [51]:
mylist + 8

TypeError: can only concatenate list (not "int") to list

In [52]:
another_list = [3,4,5]
print(id(another_list))

4379820680

In [53]:
del another_list[1]
print(another_list)
print(id(another_list))

[3, 5]
4379820680

In [54]:
x = 100
print(x)

100

In [55]:
del x

In [56]:
print(x)

NameError: name 'x' is not defined

In [57]:
for i in mylist:
    print(i)

hello
python
wow
list

In [58]:
mylist[2:4]

['wow', 'list']

In [59]:
mylist[2:]

['wow', 'list']

In [60]:
mylist[:2]

['hello', 'python']

In [61]:
mylist[:]

['hello', 'python', 'wow', 'list']

In [62]:
mylist[1:4:2]

['python', 'list']

# List methods

In [63]:
my_list = [1,3,4,5,6]

In [64]:
my_list.append('jello')

In [65]:
print(my_list)

[1, 3, 4, 5, 6, 'jello']

In [66]:
my_list.insert(2, 'python')

In [67]:
print(my_list)

[1, 3, 'python', 4, 5, 6, 'jello']

In [68]:
my_list.insert(len(my_list) , 'hoooo')

In [69]:
print(my_list)

[1, 3, 'python', 4, 5, 6, 'jello', 'hoooo']

In [70]:
my_list.pop()

'hoooo'

In [71]:
my_list.pop(2)

'python'

In [72]:
my_list.clear()

In [73]:
print(my_list)

[]

In [74]:
my_list = [1,2,3,4,5,'hello', 'jell', 3.6]

In [75]:
my_list.index('jell')

6

In [76]:
my_list.index('fjdlskjflk')

ValueError: 'fjdlskjflk' is not in list

In [84]:
my_list = [1,2,3,4,5,'hello', 'hello', 'hello',35,3,4,4, 'hello']

In [78]:
my_list.count('hello')

3

In [89]:
my_list.index('hello', 8,12)

ValueError: 'hello' is not in list

In [81]:
third_list = [-1,2,-34,34,22,2]

In [82]:
third_list.sort()

In [90]:
print(third_list)

[-34, -1, 2, 2, 22, 34]

In [91]:
third_list.sort(reverse=True)

In [92]:
print(third_list)

[34, 22, 2, 2, -1, -34]

In [93]:
another_one = third_list.copy()

In [94]:
print(another_one)

[34, 22, 2, 2, -1, -34]

In [96]:
[2,3,4,5]  == [2,3,4]

False