In [1]:
def f():
    print('print of f')
    def g():
        print('running g')
        return 5
    return g

t  = f()

print of f

In [2]:
print(t)

<function f.<locals>.g at 0x110cf92f0>

In [3]:
t()

running g

5

In [4]:
#Push operation
stack = []
stack.append(5)
print(stack)
stack.append(10)
print(stack)
stack.append(20)
print(stack)
stack.append(30)
print(stack)
stack.append(40)
print(stack)

#Pop operation

stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[5]
[5, 10]
[5, 10, 20]
[5, 10, 20, 30]
[5, 10, 20, 30, 40]
[5, 10, 20, 30]
[5, 10, 20]
[5, 10]
[5]

# Tuple

In [5]:
mytuple = 'wasim',13,343,12.5

In [6]:
type(mytuple)

tuple

In [7]:
print(mytuple)

('wasim', 13, 343, 12.5)

In [8]:
empty_tuple = ()

In [9]:
type(empty_tuple)

tuple

In [10]:
print(empty_tuple)

()

In [11]:
one_element_tuple = 45,

In [12]:
type(one_element_tuple)

tuple

In [13]:
print(one_element_tuple)

(45,)

In [14]:
soemt_tuple = mytuple , (1,2,3,44)

In [15]:
print(soemt_tuple)

(('wasim', 13, 343, 12.5), (1, 2, 3, 44))

In [16]:
pack = 12,3,4,'hello'

In [17]:
print(pack)

(12, 3, 4, 'hello')

In [18]:
x,y,z,h = pack

In [19]:
print(x)
print(y)
print(z)
print(h)

12
3
4
hello

In [20]:
for i in (1,23,4,'hello'):
    print(i)

1
23
4
hello

In [21]:
mytuple[0]

'wasim'

In [24]:
def func(x, y, *arg):
    print(x, y,arg)

In [25]:
func(2,3,5,6,7)

2 3 (5, 6, 7)

In [26]:
func(3,4)

3 4 ()

In [27]:
func(3,4,5)

3 4 (5,)

# List comprehension

In [ ]:
some_list = []
for x in [1,2,3]:
    for y in [4,2,1]:
        if x!=y:
            some_list.append((x,y))
print(some_list)

In [29]:
[(x,y) for x in [1,2,3] for y in [4,2,1] if x!=y]

[(1, 4), (1, 2), (2, 4), (2, 1), (3, 4), (3, 2), (3, 1)]

In [30]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
[[x,y] for x in [1,2,3] for y in ['a', 'b', 'c']]

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c']]

# Sets

In [32]:
myset = set()

In [33]:
type(myset)

set

In [34]:
print(myset)

set()

In [35]:
fruits = {'apple', 'orange', 'apple' , 'pear', 'banana'}

In [36]:
type(fruits)

set

In [37]:
print(fruits)

{'apple', 'pear', 'orange', 'banana'}

In [38]:
unique = set('jfldksjfkljdslkjfklaj')

In [39]:
print(unique)

{'s', 'a', 'd', 'f', 'k', 'j', 'l'}

In [40]:
'orange' in fruits

True

In [41]:
'kiwi' in fruits

False

In [42]:
alpha = set('hellobello')
beta = set('pythonkython')

In [43]:
print(alpha)
print(beta)

{'e', 'b', 'h', 'l', 'o'}
{'p', 'y', 'h', 'n', 't', 'k', 'o'}

In [44]:
alpha - beta

{'b', 'e', 'l'}

In [45]:
alpha | beta

{'b', 'e', 'h', 'k', 'l', 'n', 'o', 'p', 't', 'y'}

In [46]:
alpha & beta

{'h', 'o'}

In [47]:
alpha ^ beta

{'b', 'e', 'k', 'l', 'n', 'p', 't', 'y'}

In [48]:
gama  = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [53]:
print(gama, eta , sep='\n')

{1, 2, 3, 4, 5}
{'hello', 2, 3, 'python'}

In [54]:
gama.add(10)

In [55]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [56]:
gama.difference(eta)

{1, 4, 5, 10}

In [57]:
gama.intersection(eta)

{2, 3}

In [58]:
gama.discard(4)

In [59]:
print(gama)

{1, 2, 3, 5, 10}

In [60]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [61]:
gama.isdisjoint(eta)

False

In [62]:
gama.issubset(eta)

False

In [63]:
gama.pop()

1

# Sequences

In [64]:
45 in [1,2,3,4,45]

True

In [65]:
5 in range(1,10)

True

In [66]:
5 not in range(3,6)

False

In [68]:
'5' in '3435'

True

In [69]:
[2,3,4,5] + [56]

[2, 3, 4, 5, 56]

In [70]:
'hello' + 'python'

'hellopython'

In [71]:
range(0,5) + range(5, 10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [72]:
(1,2,3)  + ('hell',)

(1, 2, 3, 'hell')

In [73]:
[2,3,4,4]*2

[2, 3, 4, 4, 2, 3, 4, 4]

In [74]:
'hello'*2

'hellohello'

In [75]:
range(5)*2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [76]:
mylist = [2,3,4,5]
mystring = 'hello python'
myrange = range(5)
mytuple = (2,3,4,5)

In [77]:
mylist[2]

4

In [78]:
'hello'[2]

'l'

In [79]:
myrange[2]

2

In [80]:
mytuple[2]

4

In [81]:
type(myrange)

range

In [82]:
'hello'[1:2]

'e'

In [83]:
myrange[2:3]

range(2, 3)

In [84]:
len(myrange)

5

In [85]:
len(mylist)

4

In [86]:
len(mytuple)

4

In [87]:
min(mytuple)

2

In [88]:
max(mytuple)

5

In [89]:
min(myrange)

0

In [90]:
max(myrange)

4

In [91]:
myrange.index(3)

3

In [92]:
mytuple.index(2)

0

In [93]:
myrange.count(2)

1

# lambda

In [94]:
# Don't do this.
t = lambda x:x**2

In [95]:
t(5)

25

In [96]:
t= list(map(lambda x: x**2 , [1,2,3,4,5]))

In [97]:
print(t)

[1, 4, 9, 16, 25]

In [98]:
y = list(filter(lambda x:x>0 , [1,-2,3-5,-2,4,-2]))

In [99]:
print(y)

[1, 4]

# Dictionary

In [100]:
mydictionary = {}

In [101]:
type(mydictionary)

dict

In [102]:
print(mydictionary)

{}

In [103]:
mydictionary = {'apples': 5 , 'orange':10}

In [104]:
print(mydictionary)

{'apples': 5, 'orange': 10}

In [105]:
mydictionary.get('apples')

5

In [106]:
'apples' in mydictionary

True

In [108]:
print(mydictionary.get('kiwi'))

None

In [109]:
mydictionary.keys()

dict_keys(['apples', 'orange'])

In [110]:
mydictionary.items()

dict_items([('apples', 5), ('orange', 10)])

In [111]:
mydictionary.values()

dict_values([5, 10])

In [112]:
mydictionary.popitem()

('orange', 10)

In [113]:
dict([('jack' , 4) , ('jill', 10) , ('hill', 10)])

{'jack': 4, 'jill': 10, 'hill': 10}